body {
  background-image: url("../src/assets/images/background1.jpg");
}


.app-wrapper {
  display: grid;
  width: auto;
  grid-template-rows: 60px 1fr 1fr;
  grid-template-columns: 1fr 7fr;
  grid-gap: 0.3%;
  justify-items: stretch;
 
  grid-template-areas: 
  "h h"
  "n c"
  "f c";
}

.app-wrapper-content{
  grid-area: c;
  background-color: burlywood;
}








